<!DOCTYPE html>
<html>
<head>
    <title>Data for Patients and Labs</title>
</head>
<body>
    <h1>Patients</h1>
    <table border="1">
        <thead>
            <tr>
                <th>patient_id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>date_of_birth</th>
                <th>admitted_date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_patients%}
            <tr>
                <td>{{ row.patient_id }}</td>
                <td>{{ row.first_name }}</td>
                <td>{{ row.last_name }}</td>
                <td>{{ row.date_of_birth }}</td>
                <td>{{ row.admitted_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Labs</h1>
    <table border="1">
        <thead>
            <tr>
                <th>lab_id</th>
                <th>lab_name</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_labs %}
            <tr>
                <td>{{ row.lab_id }}</td>
                <td>{{ row.lab_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Patient's Labs</h1>
    <table border="1">
        <thead>
            <tr>
                <th>patient_lab_id</th>
                <th>patient_id</th>
                <th>lab_id</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_patient_labs %}
            <tr>
                <td>{{ row.patient_lab_id }}</td>
                <td>{{ row.patient_id }}</td>
                <td>{{ row.lab_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>